body{
    background-color: antiquewhite;
border-bottom-color: dodgerblue;
}
#main{
    text-align: center;
    font-size: 40px;
    text-underline: lawngreen;
}
.dev{
    margin-left: 90px;
}
h3{
    color: salmon;
}